<form [formGroup]="update_ticket" (ngSubmit)="handleSubmit(update_ticket)" class="example-form" novalidate>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ticket Tile</mat-label>

    <input name="ticket_title" [value]="ticket_title" formControlName="ticket_title" matInput #ticket_title
      maxlength="50" required />
    <mat-hint align="start"> </mat-hint>
    <mat-hint align="end">{{ ticket_title.value.length }} / 50</mat-hint>
  </mat-form-field>
  <br /><br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ticket Description</mat-label>

    <input [value]="ticket_desc" formControlName="ticket_desc" matInput #ticket_desc maxlength="50" required />
    <mat-hint align="start"> </mat-hint>
    <mat-hint align="end">{{ ticket_desc.value.length }} / 50</mat-hint>
  </mat-form-field>
  <br />
  <button mat-button mat-dialog-close type="reset" mat-stroked-button color="warn">
    Cancel
  </button>
  &nbsp;
  <button [disabled]="update_ticket.invalid" mat-button mat-dialog-close type="submit" mat-raised-button
    color="primary">
    Update
  </button>
  <br />
  <br />

  <div>{{ message }}</div>
</form>